

<footer>
    <div class="footer-content">
        <h3 class="footer-title">Pages</h3>
        <div class="footer-links">
            <a href="/feature-request/">Request a Feature</a>
            <a href="/account-deletion/">Account Deletion</a>
            <a href="/report-a-problem/">Report a Problem</a>
            <a href="/privacy-policy/">Privacy Policy</a>
            <a href="/terms-of-service/">Terms Of Service</a>
            <a href="/contact/">Contact</a>
            <a href="/presskit.zip" download onclick="posthog.capture('presskit_downloaded')">Press Kit</a>
        </div>
        <div class="footer-bottom">
            by © Kirner Mark Adrian 2025
        </div>
    </div>
</footer>